 @page {
        size: 80mm 297mm; /* Ajuste o tamanho da página para a impressora EPSON T20 */
        margin: 5mm;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 8pt; /* Tamanho da fonte definido como 8 */
    }
    #pedido {
        width: 100%;
        padding: 5px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    input[type="text"] {
        width: calc(100% - 10px);
        padding: 5px;
        font-size: 8pt;
        border: 1px solid #ccc;
    }
    input[type="text"]:hover {
        background-color: #f2f2f2; /* Destaca o campo quando o mouse passa sobre ele */
    }
    #btn-adicionar, #btn-excluir {
        display: block;
        width: 150px;
        margin: 10px auto;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #btn-adicionar:hover, #btn-excluir:hover {
        background-color: #45a049;
    }
    .destaque {
        font-size: 10pt;
        font-weight: bold;
        background-color: #f2f2f2;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
    @media print {
        #pedido {
            width: 80mm; /* Ajuste a largura do pedido para a impressora EPSON T20 */
        }
        input[type="text"] {
            width: calc(100% - 12px); /* Ajuste a largura dos campos de texto para a impressora EPSON T20 */
        }
        #btn-adicionar, #btn-excluir {
            display: none;
        }
    }
